<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %></title>
</head>
<body>
    <%- include('partials/navigation') %>
    <h1>Sobre Nostros</h1>
    <h2>Somos Carpintería Sayhua, una empresa dedicada a la creación de puertas, mesas, sillas y todo tipo de trabajos de carpintería. Nuestra misión es ofrecer productos de la más alta calidad, combinando tradición y experiencia para satisfacer las necesidades de nuestros clientes.
        Fundada por Wiliam Sayhua Quispe, Carpintería Sayhua ha estado en el negocio de la carpintería por más de 20 años. Desde nuestros humildes comienzos, hemos crecido gracias a nuestro compromiso con la calidad y la satisfacción del cliente.
        Nuestros valores son la calidad, la tradición y el servicio al cliente. Creemos en la importancia de ofrecer productos que no solo sean duraderos y estéticamente agradables, sino que también reflejen la artesanía y el cuidado con los que fueron hechos.
        Nuestro equipo está compuesto por profesionales apasionados por la carpintería. Conoce a algunos de nuestros miembros clave:
        -Wiliam Sayhua Quispe**, CEO: Con más de 20 años de experiencia en la industria de la carpintería, Wiliam lidera la empresa con dedicación y una visión clara de excelencia.
        -Isidro Marroquín**, Ayudante: Con más de 50 años de experiencia, Isidro aporta una valiosa sabiduría y habilidad artesanal que se refleja en cada uno de nuestros productos.
        
        Hemos tenido el honor de que personas con altos recursos económicos soliciten nuestros servicios de carpintería, lo que es un testimonio de la calidad y el prestigio de nuestro trabajo.
        Estamos emocionados por el futuro y planeamos continuar expandiendo nuestra gama de productos y servicios, manteniendo siempre nuestro compromiso con la calidad y la satisfacción del cliente.
        ¿Quieres saber más sobre nosotros? Contáctanos en [wiliamsayhuaquispe@gmail.com] o síguenos en nuestras redes sociales: [Facebook](#), [Twitter](#), [LinkedIn](#).</h2>
        <%- include('partials/footer') %>


</body>
</html>