<footer>
    <h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam, dolor? Aperiam est dolor animi, temporibus eius hic. Porro perspiciatis veritatis aspernatur sequi soluta. Vel assumenda accusamus laborum temporibus optio maiores.</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam impedit facilis atque beatae tenetur doloremque ipsa. Quibusdam laudantium quidem doloribus eligendi harum. Sint quod et aperiam sit quos esse velit.</p>

</footer>