<footer class="footer-section">
    <div class="container">
        <div class="footer-cta pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="cta-text">
                            <h4>Encuéntranos</h4>
                            <span>Av. Miraflores</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-phone"></i>
                        <div class="cta-text">
                            <h4>Teléfono</h4>
                            <span>9876543210 </span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="far fa-envelope-open"></i>
                        <div class="cta-text">
                            <h4>Correo Electrónico</h4>
                            <span>wiliamsayhuaquispe@gmail.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="index.html"><img src="/img/imagen2.jpg" style="max-width: 100px; height: auto;" class="img-fluid" alt="logo"></a>
                        </div>
                        
                        
                        <div class="footer-text">
                            <p>Transformando tus ideas en piezas únicas de madera. Descubre la artesanía y la calidad en cada detalle con nuestros servicios de carpintería experta.
                            </p>
                        </div>
                        <div class="footer-social-icon">
                            <span>Siganos</span>
                            <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                            <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                            <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Enlaces</h3>
                        </div>
                        <ul>
                            <li><a href="/">Inicio</a></li>
                            <li><a href="/contact">Contáctanos</li>
                            <li><a href="/about">Sobre Nosotros</li>
                            <li><a href="/product">Productos</li>
                            <li><a href="/trabajo">Trabajos</li>
                            <li><a href="/cita">Cita Previa</li>
                            <li><a href="/descuento">Descuentos</a></li>
                            <li><a href="/promociones">Promociones</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Subcribirse</h3>
                        </div>
                        <div class="footer-text mb-25">
                            <p>No dejes de suscribirte a nuestroa pagina web, por favor completa el formulario a continuación..</p>
                        </div>
                        <div class="subscribe-form">
                            <form action="#">
                                <input type="text" placeholder="Email Address">
                                <button><i class="fab fa-telegram-plane"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>