<nav>
    <ul>
        <li>
            <a href="/">Inicio</a>
        </li>
        <li>
            <a href="/contact">Contáctanos</a>
        </li>
        <li>
            <a href="/about">Sobre Nostros</a>
        </li>
        <li>
            <a href="/product">Productos</a>
        </li>
        <li>
            <a href="/trabajo">Trabajos</a>
        </li>
        <li>
            <a href="/cita">Cita Previa</a>
        </li>
        <li>
            <a href="/Descuento">Descuentos</a>
        </li>
        <li>
            <a href="/Promociones">Promociones</a>
        </li>
    </ul>
</nav>